@model IEnumerable<Movie>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="site.css" type="text/css" />
</head>

<h2>Movies</h2>
<table border="1">
    <thead>
        <tr>
            <td>
                <h4>
                    Movie
                </h4>
            </td>
        </tr>
    </thead>
    @foreach (var m in Model)
    {
        <tr>
            <td>
                <text>
                    @m.Name
                </text>
            </td>
        </tr>
    }
</table>
